
<!DOCTYPE html>
<html>

<head>

  <title>DeeVC</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Import Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&family=Josefin+Slab&display=swap" rel="stylesheet">
  
  <!-- Import CSS file -->
  <link rel="stylesheet" href="\css\styles1.css">
  <!--<link rel="stylesheet" href="/css/styles1.css">-->
  
  <!-- <link rel="stylesheet" href="/css/main.css" /> -->
  
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>


<body bgcolor="#343434">

 
 <table  align="center"   cellspacing="20">
<tr align="center">
<td>  <i onclick=toggleVideo(this) class="fa fa-video-camera" style="font-size:24px" >     </i> </td>
 <td> <i onclick=toggleAudio(this) class="fa fa-microphone" style="font-size:24px" >   </i> </td> 
 <td> <i onclick=stop() class="fa fa-times-circle" style="font-size:24px">   </i> </td> 

  </tr>
  </table> 



<table height=80 align="center"  cellspacing="30">
<tr align="center" >
<td><video id="localVideo"  width=50% height=80% autoplay  muted playsinline></video></td>
<td><video id="remoteVideo" width=50% height=80% autoplay playsinline></video></td>
</tr>
</table>

  <!-- Import SocketIO for signalling -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Import WebRTC adapter for compatibility with all the browsers  -->
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  
  <!-- Import TURN config -->
  <script src="js\config.js"></script>

  <!-- Import script containing WebRTC related functions -->
  <script src="js\main.js"></script>
  
</body>

</html>
