<!DOCTYPE html>
<html>

<head>

  <title>Video Conferencing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Import Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&family=Josefin+Slab&display=swap" rel="stylesheet">
  
  <!-- Import CSS file -->
  <link rel="stylesheet" href="\css\styles1.css">
  <link rel="stylesheet" href="/css/styles1.css">
  
  <!-- <link rel="stylesheet" href="/css/main.css" /> -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body bgcolor="#aaa">
<script src="js\main.js"></script>
<script src="js/main.js"></script>

  
<div align="center">Video Conferencing</div>
<table height=100>
<tr>
<td><video id="localVideo" align="left" width=50% height=100% autoplay  muted playsinline></video></td>
<td><video id="remoteVideo" align="right" width=50% height=100% autoplay playsinline></video></td>
</tr>
</table>

 <button  class="btn1" onclick=toggleVideo()><i class="fa fa-camera"></i></button> 
  <button  class="btn1" onclick=toggleAudio()><i class="fa fa-microphone"></i></button>  

  
 

  <!-- Import SocketIO for signalling -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Import WebRTC adapter for compatibility with all the browsers  -->
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  
  <!-- Import TURN config -->
  <script src="js\config.js"></script>

  <!-- Import script containing WebRTC related functions -->
  <script src="js\main.js"></script>
  
</body>

</html>
